.active {
    background-color: #263a7a;
    outline-color: #263a7a;
}

.workout-detail {
    background-color: rgba(237, 240, 240, 0.75);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.form-control{
    margin-bottom:10px;
}